body{
    margin-top: 3.5em;
    background: #fff8e1;
}

.square{
    color: #5a3000;
    margin-top: .1em;
    margin-left: 5em;
    margin-bottom: .1em;
    font-size: 2vw;
    counter-reset: list-counter;
    list-style: none;
    float:left;
}

.flex {
    display: flex; /*横並び*/
  }
  .flex .image {
    width: 20vw; /*画像サイズ指定*/
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: relative;
  }
  .flex .right {
    margin: 0 0 0 20px;
    padding: 0;
  }
  .flex .title {
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 18px;
  }
  .flex .text {
    margin: 1.5em 2em 0;
    padding: 0;
  }
  .flex .image {
    overflow: hidden;
    position: relative;
  }
  .flex .image::before {
    content: "";
    display: block;
    padding-top: 40%;
  }
  .flex .image img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }
